.menu-top {
    display: grid;
    border: none;
    height: 3em;
    grid-gap: 0.2em;
    grid-template-columns: 12em 12em 12em 12em;
    justify-content: end;
    padding: 0.1em 0 0.1em 0;
}

.menu-top a {
    position: relative;
    background-color: white;
    line-height: 2.4em;
    padding:  0 0.2em 0 0.2em;
    text-align: center;
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.menu-top a:hover {
    color: var(--secondary-color);
}

.menu-top a, .menu-top a:hover,
.menu-top a:active, .menu-top a:visited {
    text-decoration: none;
}

.menu-top .selected {
    background-color: var(--primary-color);
    color: var(--neutral-color);
}
