{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "leomaster_app/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "leomaster_app/fontawesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "leomaster_app/css/main.css" %}">
    {% block stiles %}{% endblock %}

    <title>{% block title %}{{ site_title }}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="grid-container">
        {% block header %}
            <div class="grid-item header">
                <div class="pre-header">
                    <h6>Мастерклассы</h6>
                </div>
                <h1>Leonardo</h1>
                <div class="post-header">Агрегатор мастерклассов сети магазинов <a href="https://leonardo.ru"
                                                                                   target="_blank">"Леонардо"</a></div>
                <div class="figured-border">
                    <span></span>
                    <span></span>
                </div>
            </div>
        {% endblock %}
        {% block main %}{% endblock %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="{% static "leomaster_app/bootstrap/js/bootstrap.js" %}" type="text/javascript"></script>
{% block scripts %}{% endblock %}
</body>
</html>