{% extends 'core/base.html' %}
{% load leo_extras %}
{% load static %}
{% block title %}Мастерклассы{% endblock %}
{% block main %}
    <div id="pageGroup" data-group="{{ group }}"></div>
    <div class="menu-top">
        <a class="{% if group == 'topic' %}selected{% endif %}" href="{% url 'common' 'topic' %}">Актуальные</a>
        <a class="{% if group == 'half_month' %}selected{% endif %}" href="{% url 'common' 'half_month' %}">Новые за две недели</a>
        <a class="{% if group == 'month' %}selected{% endif %}" href="{% url 'common' 'month' %}">Новые за месяц</a>
        <a class="{% if group == 'all' %}selected{% endif %}" href="{% url 'common' 'all' %}">Все</a>
    </div>
{% endblock %}

{% block footer %}
    <div class="loader hidden">Загрузка...</div>
{% endblock %}
